<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Node.js" lan="LAN_PLUGIN__NODEJS_NAME" version="1.4" date="2017-02-10" compatibility="2.0" installRequired="true">
    <author name="Lóna Lore" url="https://github.com/lonalore/nodejs"/>
    <summary lan="LAN_PLUGIN__NODEJS_SUMM">Node.js integration</summary>
    <description lan="LAN_PLUGIN__NODEJS_DESC">It provides an API that other plugins can use to add real-time capabilities to e107, specifically enabling pushing updates to open connected clients.</description>
    <keywords>
        <word>nodejs</word>
        <word>server</word>
        <word>api</word>
    </keywords>
    <category>tools</category>
    <copyright>GNU GENERAL PUBLIC LICENSE</copyright>
    <adminLinks>
        <link url="admin_config.php" description="LAN_CONFIGURE" iconSmall="images/nodejs_16.png" icon="images/nodejs_32.png" icon128="images/nodejs_128.png" primary="true">LAN_CONFIGURE</link>
    </adminLinks>
    <pluginPrefs>
        <pref name='nodejs_protocol'>1</pref>
        <pref name='nodejs_host'>localhost</pref>
        <pref name='nodejs_port'>8000</pref>
        <pref name='nodejs_resource'>/socket.io</pref>
        <pref name='nodejs_service_key'></pref>
        <pref name='nodejs_log_http_errors'>1</pref>
        <pref name='nodejs_socket_cdn'>1</pref>
    </pluginPrefs>
    <dependencies>
        <PHP name='core' min_version='5.5.0' />
    </dependencies>
</e107Plugin>
